@font-face {
    font-family: "MegaMaxJonathanToo";
    src: url(../assets/fonts/MegamaxJonathanToo-YqOq2.ttf);
}
@font-face {
    font-family: "Quadriana";
    src: url(../assets/fonts/quadriana.ttf);
}

*{
    font-family: 'Quadriana', sans-serif;
}

body{
    background-color: rgb(38, 36, 36);
    height: 100vh;
    overflow-y: hidden;
}
#gameContainer{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #background{
    margin: 0 auto;
    display: block;
    width: 1280px;
    height: 720px;
    
    background-size: cover;
} */

#gameCanvas{
    /* background-image: url("../assets/images/Background_1.png"); */
    background-size: cover;
    background-color: rgb(60, 148, 60);
    border: 1px solid white;
    margin: 0 auto;
    display: block;
    
}
/* UI-Elements */ 
/* Experience Bar */
#experienceBar{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: rgb(62, 52, 168);
    border: 2px solid rgb(166, 164, 50);
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}
#experienceBarFill{
    background-color: rgb(35, 31, 84);
    height: 100%;
    max-width: 100%;
    width: 0%;
    transition: width 0.5s ease;
}
#level{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    /* margin-right: 50px; */
    text-align: right;
    pointer-events: none;
}
.statContainer{
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#time{
    position: relative;
    width: 80%;
    /* height: 20px; */
    text-align: center;
    color: white;
    font-size: 32px;
    margin-right: 90px;
}
#kills{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;
}

#gameOverScreen{
    position: absolute;
    width: 1200px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid grey;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    padding: 30px;
}

#gameOverText{
    font-size: 50px;
    color: white;
}
#finalScore{
    font-size: 32px;
    color: green;
}

/* UpgradeScreen */
#upgradeScreen{
    position: absolute;
    display: none;
    width: 1200px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(205, 145, 67, 0.8);
    border-radius: 10px;
    border: 2px solid rgba(213, 123, 4, 0.8)
}
#cards{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.card{
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    color: white;
    font-size: 20px;
}
.card:hover{
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
.cardTitle{
    color: white;
    text-align: center;
    font-family: 'MegaMaxJonathanToo', sans-serif;
}
.cardDescription{
    color: white;
    text-align: center;
    font-size: 18px;
    text-wrap: pretty;
}
.upperContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}
.titleProgressContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lvl{
    padding: 10px;
    text-align: center;
}

.block {
    width: 15px;
    height: 15px;
    border: 2px solid #333;
    background-color: #fff;
    margin: 0 10px;
    display: inline-block;
    border-radius: 5px;
}

.block.filled {
    background-color: #4c91af; /* Green for filled blocks */
}

/* Pause Menu */
#PauseScreen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3333339b;
    color: white;
    text-align: center;
}
#PauseScreen div{
    font-size: 50px;
    padding: 50px;
}

/* Start Menu */
#start-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-align: center;
    background-image: url("../assets/images/title_screen.png");
    font-family: 'MegaMaxJonathanToo', sans-serif;
  }
  
  .game-title {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .menu-button {
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .menu-button:hover {
    background-color: #45a049;
  }

  #Instructions{
    position: absolute;
    display: none;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 1);
    padding: 50px;
    border-radius: 10px;
    border: 2px solid white;
  }





