body{
    background-color: rgb(38, 36, 36);
    height: 100vh;
    overflow-y: hidden;
}
#gameContainer{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameCanvas{
    background-color: rgb(60, 148, 60);
    border: 1px solid white;
    margin: 0 auto;
    display: block;
    
}
/* UI-Elements */ 
/* Experience Bar */
#experienceBar{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: rgb(62, 52, 168);
    border: 2px solid rgb(166, 164, 50);
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}
#experienceBarFill{
    background-color: rgb(35, 31, 84);
    height: 100%;
    max-width: 100%;
    width: 0%;
    transition: width 0.5s ease;
}
#level{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    /* margin-right: 50px; */
    text-align: right;
    pointer-events: none;
}

#time{
    position:relative;
    width: 100%;
    height: 20px;
    text-align: center;
    color:white;
    font-size: 32px;
}

#gameOverScreen{
    position: absolute;
    width: 1200px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid grey;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    padding: 30px;
}

#gameOverText{
    font-size: 50px;
    color: white;
}
#finalScore{
    font-size: 32px;
    color: green;
}



